.item-detail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    text-align:center;
    color: #000000;
}

h2{
    color: #000000;
}

.item-detail image {
    width: 100%;
}

.detail {
    display: flex;
    justify-content: space-around;
}

.item-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000000;
}