.listContainer {
    background: grey;
    padding: 12px;
    width: 60%;
    justify-content: space-between;
    align-items: space-between;
}
.stockContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 12px;
}
.stock {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border: 1.5px solid red;
    height:max-content;
    justify-items: center;
    align-items: center;
}
.stockImg {
    width: 200px;
    border-radius: 40%;
    background-color: bisque;
}
.msgContainer {
    margin: 10px;
    background: blueviolet;
}
p{
    margin: 0;
    font-size: 10px;
    color: black;
  }