.tarjeta-producto{
  width: 400px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: #838383;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjeta-producto h4, p{
  margin: 2ox;
  font-size: 20px;
  color: #000000;
}
.tarjeta-producto img{
  width: 100%;
}
.boton-ver{
  font-size: 10px;
  padding: 2px;
  border-radius: 5px;
  background-color: #243746;
  color: white;
  margin: 2px;
}