.accesos{
    margin-right: 10vh;
    margin-left: 5px;
    font-size: 40px;
}

.barra-navegador{
    background-color: black;
    color: red;
    display: flex;
    align-items: center;
}
.h3{
    font-family: fantasy;
}