.accesos{
    margin-right: 15vh;
    margin-left: 10px;
    font-size: 50px;
}

.nav-container{
    background-color: black;
    color: red;
    display: flex;
    flex-direction: ROW;
    align-items: center;
    
    width: 1fr;
    
}
.h3{
    font-family: fantasy;
}
.nav-brand{
    width: 100px;
}
.navegacion{
    width: auto;
    display: flex;
    font-size: 25px;
    margin-right: 5px;
    margin-left: 10px;
}
.claseActive {
    margin-right: 5px;
    margin-left: 10px;
}
.claseInactive{
    margin-right: 5px;
    margin-left: 10px;
}
